{% load static %}
{% load my_tags %}
{% load i18n %}
<!--Navbar Start-->
<nav class="navbar navbar-expand-lg fixed-top custom-nav bg-white"
     style="box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);">
    <div class="container">
        <!-- LOGO -->
        <a class="logo navbar-brand">
            {#            <img src="{% static 'img/logo-dark.png' %}" alt="" class="img-fluid logo-dark">#}
            <h4 class="mt-2 img-fluid text-dark"
                style="font-family: 'Kaushan Script', cursive;font-size:30px;">
                <span style="color:red">D</span>ataHouse</h4>
            {#            <img src="{% static 'img/logo-dark.png' %}" alt="" class="img-fluid logo-light">#}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="mdi mdi-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto navbar-center" id="mySidenav">
                {% url 'pages:home' as home %}
                <li class="nav-item {% if request.path == home %} active {% endif %}">
                    <a href="{{ home }}" class="nav-link" style="color:black;">{% trans 'Home' %}</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'pages:home' %}#about" class="nav-link" style="color:black;">{% trans 'About' %}</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'pages:home' %}#services" class="nav-link" style="color:black;">{% trans 'Services' %}</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'pages:home' %}#resume" class="nav-link" style="color:black;">{% trans 'Resume' %}</a>
                </li>
                {% url 'portfolio:list' as portfolio %}
                <li class="nav-item {% if request.path == portfolio %} active {% endif %}">
                    <a href="{{ portfolio }}" class="nav-link " style="color:black;">{% trans 'Work' %}</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'pages:home' %}#client" class="nav-link" style="color:black;">{% trans 'Client' %}</a>
                </li>
                {% url 'blog:list' as blog %}
                <li class="nav-item {% if request.path == blog %} active {% endif %}">
                    <a href="{{ blog }}" class="nav-link" style="color:black;">{% trans 'Blog' %}</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'pages:home' %}#contact" class="nav-link" style="color:black;">{% trans 'Contact' %}</a>
                </li>
                <li class="nav-item dropdown disabled">
                    {% get_current_language as lang %}
                    <a class="nav-link dropdown-toggle text-dark" id="dropdown09" data-toggle="dropdown">{{ lang|upper }}</a>
                    <div class="dropdown-menu">
                        {% get_available_languages as all_lang %}
                        {% for l in all_lang %}
                            {% if l.0 != lang %}
                                <a class="dropdown-item text-dark" href="{% get_lang_url request l.0 %}"
                                   style="color:black;">{{ l.0|upper }}</a>
                            {% endif %}
                        {% endfor %}

                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar End -->
